body
{
    font: Arial, sans-serif;
}

.buttonArea,
.footerText,
#geoLocationContainer,
#helloWorldInput,
#helloWorldText
{
    text-align: center;
}

#txtName
{
    border: 1px solid #AAA;
    border-radius: 15px;
    position:static;
    margin-left: 1em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    background:white;
    color: black;
    padding: 7px;
}

 #eclipseLogo {                            
    top: 20%;     
    margin: 0px; 
    background-position: center center;
    -webkit-box-shadow: 0 1px 3px #333;
    box-shadow: 0 1px 3px #333;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: url('images/Naq50.png') transparent no-repeat 0 0;
}    
    
.searchResults-listview .item-title {
	float: left;
	font-size: 1em;
    line-height: 1.4em;
    margin: .3em 1em 0 .6em;
    width: 80%;
}
.searchResults-listview .item-info {
	float: left;
	font-size: .7em;
	line-height: 1em;
    margin: 0 0 0 .95em;
    width: 45%;
}
    
#policies-listview .item-title {
	float: left;
	font-size: 1em;
    line-height: 1.4em;
    margin: .3em 1em 0 .6em;
    width: 80%;
}
#policies-listview .item-info {
	float: left;
	font-size: .7em;
	line-height: 1em;
    margin: 0 0 0 .95em;
    width: 45%;
}
    
#outstandingTasksResults-listview .item-title {
	float: left;
	font-size: 1em;
    line-height: 1.4em;
    margin: .3em 1em 0 .6em;
    width: 80%;
}
#outstandingTasksResults-listview .item-info {
	float: left;
	font-size: .7em;
	line-height: 1em;
    margin: 0 0 0 .95em;
    width: 45%;
}  
       
#clientSummaryView .item-title {
	float: left;
    width: 37%;
    color: #369;
    font-size: .8em;
	line-height: 1.3em;
}
#clientSummaryView .item-info {
	float: right;
    width: 61%;    
    vertical-align : center;
    font-size: .8em;
	line-height: 1.3em;
}

#debts-listview .item-heading {
	font-size: .8em;
	line-height: 1.3em;
}
#debts-listview .item-title {
	float: left;
	font-size: .7em;
	line-height: 1.3em;
    color: #369;
    width: 30%;
}
#debts-listview .item-info {
	float: right;
	font-size: .7em;
	line-height: 1.3em;
    width: 65%;
}
    
#policySummary-listview .item-heading {
	font-size: .8em;
	line-height: 1.3em;
}
#policySummary-listview .item-title {
	float: left;
	font-size: .7em;
	line-height: 130%;
    color: #369;
    width: 40%;
}
#policySummary-listview .item-info {
	float: right;
	font-size: .8em;
	line-height: 1.3em;
    width: 56%;
}
 
#notes-listview .item-heading {
	font-size: .8em;
	line-height: 1.3em;
}
#notes-listview .item-title {
	float: left;
	font-size: .7em;
	line-height: 1.3em;
    color: #369;
    width: 30%;
}
#notes-listview .item-info {
	float: right;
	font-size: .7em;
	line-height: 1.3em;
    width: 65%;
}
 
#notes-listview .item-note {
	float: left;
	font-size: .7em;
	line-height: 1.3em;
    width: 90%;
}
 
#docs-listview .item-heading {
	font-size: .8em;
	line-height: 1.3em;
}        
#docs-listview .item-title {
	float: left;
	font-size: .7em;
	line-height: 1.3em;
    color: #369;
    width: 30%;
}
#docs-listview .item-info {
	float: right;
	font-size: .7em;
	line-height: 1.3em;
    width: 65%;
}
    
#taskdocs-listview .item-heading {
	font-size: .8em;
	line-height: 1.3em;
}        
#taskdocs-listview .item-title {
	float: left;
	font-size: .7em;
	line-height: 1.3em;
    color: #369;
    width: 30%;
}
#taskdocs-listview .item-info {
	float: right;
	font-size: .7em;
	line-height: 1.3em;
    width: 65%;
}

#emailDocView .item-title {
    float: left;
    width: 20%;
    color: #369;
}
#emailDocView .item-info {
	float: right;
    width: 75%;
}
#outstandingTasksDetailView .item-title {
	float: left;
    font-size: .8em;
	line-height: 1.3em;
    width: 33%;
    color: #369;
}    
#outstandingTasksDetailView .item-info {
	float: right;
    width: 65%;        
    font-size: .8em;
	line-height: 1.3em;
}
#policySummaryView .item-title {
	float: left;
    font-size: .8em;
	line-height: 1.3em;
    width: 33%;
    color: #369;
}    
#policySummaryView .item-info {
	float: right;
    width: 65%;        
    font-size: .8em;
	line-height: 1.3em;
}       
#entityTasks-listview .item-heading {
	font-size: .8em;
	line-height: 1.3em;
}
#entityTasks-listview .item-title {
	float: left;
	font-size: .7em;
	line-height: 1.3em;
    color: #369;
    width: 30%;
}
#entityTasks-listview .item-info {
	float: right;
	font-size: .7em;
	line-height: 1.3em;
    width: 65%;
}    
#entityClaims-listview .item-heading {
	font-size: .8em;
	line-height: 1.3em;
}
#entityClaims-listview .item-title {
	float: left;
	font-size: .7em;
	line-height: 1.3em;
    color: #369;
    width: 40%;
}
#entityClaims-listview .item-info {
	float: right;
	font-size: .7em;
	line-height: 1.3em;
    width: 58%;
}            
    
.details-link {
    margin-top: -1.2em;
    position: absolute;
    right: 0.6em;
    top: 50%;
}
     
#tabstrip-home .km-content{
    background: url('../images/Naq114x114.png') no-repeat center center;
    background-color: white; 
}   
.km-listview .km-list {
    margin: 0;    
}
  
#buttongroup {
    margin: 1em auto .4em auto;
    font-size: 0.8em;
} 
    
.settingsDetail{
    height: 30px;
    width: 100%;
}

.notesEntryClass{
    height: 150px;
    margin: .95em 0 0 .95em;
    width: 90%;
}

.highlightButton.button{
    background-color: rgb(0, 129, 168);
    color: #fff;
}

.highlightButton.button.km-state-active {
    background-color: rgb(0, 119, 158);
    }
 
 .km-root .km-pane .km-view .km-custom
    {
        background-image: url("images/Naq114x114.png");
        background-color: rgb(0, 119, 158);
        color: rgb(234,234,234);
    }

.item-policy {
    width: 95%;
    height: auto;
    float: left;
    margin: .5em .5em;
    -webkit-box-shadow: 0 1px 3px #333;
    box-shadow: 0 1px 3px #333;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}       
    
div.hr {border-top: 1px #D3D3D3; border-bottom:1px #D3D3D3 solid;}
div.hr hr {display:none;}    
    
.debtsHeader 
{
    margin-bottom: 5px;
    margin-top: 5px;
}

.km-android .km-navbar .km-view-title /* After Q2 2012 SP1 */
{
    visibility: visible;
}    
.km-android div.km-view {
    -webkit-box-direction: normal;
}



.km-flat .km-view .km-navbar .km-button.km-state-active {
    background-color: rgb(25, 202, 255);
}
.km-flat .km-view .km-content .km-list .km-state-active .km-listview-link {
    background-color: rgb(0, 129, 168);
}
.km-flat .km-view .km-tabstrip .km-button.km-state-active {
    background-color: rgb(0, 129, 168);
}
.km-flat .km-view .km-navbar {
    background-color: rgb(0, 129, 168);
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0, rgba(0,0,0,.5)),color-stop(.73, rgba(0,0,0,.2)),color-stop(1, rgba(0,0,0,.5)));
    background-image: -moz-linear-gradient(50% 0,50% 100%,rgba(0,0,0,.5),rgba(0,0,0,.2) 73%,rgba(0,0,0,.5));
    background-image: -ms-linear-gradient(50% 0,50% 100%,rgba(0,0,0,.5),rgba(0,0,0,.2) 73%,rgba(0,0,0,.5));
    background-repeat: repeat;
    background-position: 0 0;
}
.km-flat .km-view .km-navbar .km-view-title > * {
    color: rgb(255, 255, 255);
}
.km-flat .km-view .km-navbar .km-button {
    background-color: rgb(229, 229, 229);
}

/*
.km-flat .km-view .km-button {
    background-color: rgb(0, 129, 168);
    color: #fff;
}
.km-flat .km-view .km-button.km-state-active {
    background-color: rgb(0, 119, 158);
}
.km-flat .km-view .km-navbar .km-button {

    color: rgb(110,110,110);
}*/

.km-button {
    font-size: 0.85em
}

.km-button-group {
    font-size: 1em;
}
.km-flat .km-view .km-content {
    background-color: rgb(204, 204, 204);
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0, rgba(255,255,255,.2)),color-stop(1, rgba(255,255,255,.8)));
    background-image: -moz-linear-gradient(50% 0,50% 100%,rgba(255,255,255,.2),rgba(255,255,255,.8));
    background-image: -ms-linear-gradient(50% 0,50% 100%,rgba(255,255,255,.2),rgba(255,255,255,.8));
    background-repeat: repeat;
    background-position: 0 0;
}
.km-flat .km-view .km-content .km-listgroupinset .km-group-title .km-text {
    color: rgb(0, 129, 168);
}



